//COLORS (clr)
$clr-black: #272727;
$clr-blue-light: #f7f9fb;
$clr-gray: #7d7c83;
$clr-orange: #f49e4c;
$clr-orange-dark: #e06d00;
$clr-red: #eb5757;
$clr-blue: #118ab2;

//FONT WEIGHTS (fw)
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
