@import "./presets/styles";
@import "./menu.scss";
@import "./forms.scss";
@import "./news.scss";
@import "./tech.scss";

#header {
    height: 158px;
    @include flex-center-left;

    @include responsive("mobile") {
        height: 51px;
    }

    &__title {
        @include font(36px, $fw-bold, $clr-black);
        line-height: 49px;

        @include responsive("mobile") {
            display: none;
        }
    }

    &__img {
        height: 43px;
        margin-right: 12px;

        @include responsive("mobile") {
            height: 20px;
            margin-left: 25px;
        }
    }
}

#poster {
    background-image: url("../images/img/poster.png");
    height: 695px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 0px 0px 20px;

    @include responsive(mobile) {
        height: 273px;
        border-radius: 0px;
    }
}

.section {
    &__title {
        margin: 60px 0px 30px;
        @include flex-center-center;
        @include font(36px, $fw-bold, $clr-black);

        @include responsive(mobile) {
            font-size: 30px;
        }
    }
}

footer {
    margin-top: 35px;
    padding: 43px 0px;
    background-color: $clr-blue;
    @include font(18px, $fw-bold, white);
    @include flex-center-center;

    @include responsive(mobile) {
        margin-top: 76px;
    }
}
